<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/jpg"  href="/static/img/Title.jpg" />

    <title> Inventario </title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../static/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="wrapper">
    </div>
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12" >
                      <div class="text-center">
                        <h1 style="margin-top : 3% "  class="page-header">
                           Inventario
                        </h1>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-lg-6">
                  <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="text-center">
                            <h3 class="panel-title">Stock de Producto:</h3>
                          </div>
                        </div>

                        <div class="panel-body" style="overflow-y: scroll; height:8cm;" >
              <form role="form" action="/inventario.html" method="POST">
                  <div class="form-group">
                      <div class="col-xs-3">
                          <input type="text" autofocus="autofocus" class="form-control" name="producto" value="producto">
                      </div>
                  </div>
                  <button type="submit" class="btn btn-primary">consultar</button>
                  <button  class="btn btn-primary">Stock disponible {{stock[0]}}</button>
              </form>
            </div>
        </div>
    </div>
              <div style="margin-right">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="text-center">
                              <h3 class="panel-title">Stock de Producto:</h3>
                            </div>
                          </div>

                        <div class="panel-body" style="overflow-y: scroll;" >
                          <h1 style="margin-top : 3% "  class="page-header">
                          </h1>
                <strong>Nuevo Producto</strong>

            <form role="form" action="/anadir_prod" method="post">
                <div class="form-group">
                    <div class="col-xs-3">
                        <input type="text" autofocus="autofocus" class="form-control" name="nombre0"value="Nombre">
                    </div>
                    <div class="col-xs-3">
                        <input type="text" autofocus="autofocus" class="form-control" name="detalle" value="Detalles">
                    </div>
                    <div class="col-xs-2">
                        <input type="text" class="form-control" name="cant" value="cant">
                    </div>
                    <div class="col-xs-2">
                        <input type="text" class="form-control" name="id1" value="id">
                    </div>
                    <div class="col-xs-2">
                        <input type="text" class="form-control" name="precio" value="Precio">
                    </div>
                </div>
                <h1 style="margin-top : 2% ">
              <div class="text-center">
                  <button type="submit" class="btn btn-primary text-center">Añadir</button>
                  </div>
                  </h1>
            </form>
            <h1 style="margin-top : 3% "  class="page-header">
            </h1>
                <strong>Producto Existente</strong>
            <form role="form" action="/anadir_stock" method="POST">
                <div class="form-group">
                    <div class="col-xs-3">
                        <input type="text" autofocus="autofocus" class="form-control" name="nombre1"value="Nombre">
                    </div>
                    <div class="col-xs-3">
                        <input type="text" class="form-control" name="cantidad1" value="cantidad">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Añadir</button>
            </form>
        </div>
      </div>
    </div>
    </div>


              <div  style = "margin-top : 3%;" </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                              <div class="panel-heading">
                                <div class="text-center">
                                  <h3 class="panel-title">Stocks:</h3>
                                </div>
                              </div>
                            <div class="panel-body">

                        {% for prod in todo %}
            <div class="progress-outer">
                <div class="progress">
                  <div class="progress-bar progress-bar-info progress-bar-striped active" style="width:{{prod[2]}}%; box-shadow:-1px 10px 10px rgba(91, 192, 222, 0.7);">
                  <div class="progress-value"> {{prod[1]}} {{prod[0]}}</div>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>






            <!-- <div class="panel panel-default"> asjdknsadsa</div> -->
            <!-- /.container-fluid -->

        <!-- </div> -->
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../static/js/plugins/morris/raphael.min.js"></script>
    <script src="../static/js/plugins/morris/morris.min.js"></script>
    <script src="../static/js/plugins/morris/morris-data.js"></script>

</body>

</html>
